body {
  background-image: url('http://i.imgur.com/lqFniyN.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 25px;
  color: red;
  opacity: 0.9;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 6%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    overflow: hidden;
}

.front {
    height: 60%;
    width: 90%;
    background: #FFF;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
    margin: 5%;
    border: 1px solid black;
    padding-top: 20%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto;
    overflow: hidden;
}

.back {
    background: #222;
    color: #FFF;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
